.admin-btn {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border: none;
    background-color: #d2d2d2;
    color: #000000;
    font-size: 125%;
}

.tab h2{
    margin: 0;
    padding-top: 2%;
    text-align: center;
    color: white;
}

#nav-admin button.active {
    background-color: black;
    color: white;
}

.hide-tab {
    display: none;
}

#nav-admin {
    margin-top: 1%;
}

.tab {
    background: radial-gradient(circle, rgb(58, 95, 224) 0%, rgb(0, 0, 0) 100%);
}