.admin-btn {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border: none;
    background-color: #d2d2d2;
    color: #000000;
    font-size: 125%;
}

.tab h2{
    margin: 0;
    padding-top: 2%;
    text-align: center;
    color: white;
    font-size: 200%;
}

#nav-admin button.active {
    background-color: black;
    color: white;
}

#nav-admin {
    margin-top: 1%;
}

.tab {
    background: radial-gradient(circle, rgb(58, 95, 224) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: 2em;
    min-height: 100vh;
}

.rooms-already-exists {
    color: white;
    background-color: rgb(58, 95, 224);
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.update-room {
    padding: 0.3em;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 0.5em;
}

#getScore{
    text-align: center;
    margin-bottom: 25px;
}

#getScore input{
    font-size: 150%;
}

#invite-users-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}

#invite-users-form textarea {
    width: 50%;
    resize : none;
}

.black-button {
    background-color: black;
    color: white;
    border-radius: 0.5em;
    padding: 0.5em;
    border: none;
    margin: 1em;
}

.multiplayer-containers {
    background-color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 3em;
}

.multiplayer-containers h3 {
    text-align: center;
    font-size: 150%;
}

#unsuscribe-user-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#dropdown-user {
    background-color: rgb(58, 95, 224);
    color: white;
    border-radius: 0.5em;
    border: none;
}

#create-room-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#unSignedUsers {
    text-align: center;
}