.admin-btn {
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    border: none;
    background-color: #d2d2d2;
    color: #000000;
    font-size: 125%;
}

.tab h2{
    margin: 0;
    padding-top: 2%;
    text-align: center;
    color: white;
    font-size: 200%;
}

#nav-admin button.active {
    background-color: black;
    color: white;
}

#nav-admin {
    margin-top: 1%;
}

.tab {
    background: radial-gradient(circle, rgb(58, 95, 224) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.rooms-already-exists {
    color: white;
    background-color: rgb(58, 95, 224);
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rooms-already-exists {
    margin-bottom: 2em;
}

.multiplayer-containers {
    background-color: #ffffff;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 3em;
}

.multiplayer-containers h3 {
    text-align: center;
    font-size: 150%;
}

#create-room-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}