.form-title{
    text-align: center;
}

#form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.signForm{
    font-size: 120%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 30%;
    max-width: 550px;
    background-color: #252525;
    border-radius: 2em;
    padding: 3% 4.5% 4.5%;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    justify-content: center;
}

.id-form-input{
    margin-bottom: 5px;
    margin-top: 2px;
    border-radius: 3em;
    height: 2em;
    width: 100%;
}

.submit {
    display: block;
    margin: 10% auto 0;
    width: 80%;
    height: 3em;
    border-radius: 4em;
}

.submit:hover{
    background-color: #54E86B;
}

.redirections-sign a{
    color: white;
}

.redirections-sign {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 80%;
    text-align: center;
}

.password-container {
    position: relative;
}

.show-password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    color: #f9f9f9;
    transition: all 0.2s;
}


#password-icon-off {
    display: none;
}

@media (max-width:900px) {
    .signForm{
        width: 80%;
    }
}